
<div class="container con2">
    <form>
    <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="exampleFormControlInput11">First Name</label>
            <input type="text" class="form-control" placeholder="First name" required>
          </div>
          <div class="col">
            <label for="exampleFormControlInput12">Last Name</label>
            <input type="text" class="form-control" placeholder="Last name" required>
          </div>
        </div>
    </div>
      
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Number of Persons</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Number of Rooms</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      
     Total amount: <h3>{{itemb.amount1}}/-</h3>
    </div>
    <button type="submit" class="btn btn-info" (click)="alert()">Book Now</button>
  </form>
  <button href="#" class="btn btn-primary float-right" (click)="goBack()">Go Back</button>
</div>