
    <p class="p-1 container">Promotions, deals, and special offers for you..</p>
    <div class="container offer">
    <div class="row  ">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-hl-6">
          <img [ngClass]="{'img1':true}" [src]='src1' alt=""/>
          <p class="p-2 ">Escape for a while<br>
            Enjoy the freedom of a monthly stay on GoTriP.com</p>
            <button class="btn1">Discover monthly stay</button>
        </div> 
        <div class="col-xs-6 col-sm-6 col-md-6  col-lg-6 col-xl-6">
            <img  [ngClass]="{'img2':true}"[src]='src2' alt=""/>
            <p class="p-3 ">New year, new adventures<br>
                Save 15% or more when you book and stay before March 31, 2023</p>
                <button class="btn2">Find early 2023 deals</button>
      
            </div> 
    </div>
</div>